<html>
    <head>
      <title>layout1</title> 
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <div id ="container">
            <div class="header">
                <div class="Logo">WebSite Logo</div>
                <div class="login">SING UP(OR)LOGIN</div>
            </div>
            <div class="Main-content">
                <div class="left-panel">Vertical Nav Bar</div>
                <div class="center-context">MAIN CONTENT
                    <div class ="table">
                        <div class="left">items
                            <Div class="one"></Div>
                        </div>
                        <div class="right">discription
                            <Div class="two"></Div>
                        </div>
                    </div>
                </div>
                <div class="right-panel">RIGHT PANEL</div>
            </div>
            <div id="footer">FOOTER</div>
        </div>
    </body>
</html> 