
<html>
    <head>
      <title>layout1</title> 
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div id ="container">
            <div class="header">
                <div class="Menu">MENU</div>
                <div class="Logo">Logo</div>
                <div class="login">login</div>
            </div>
            <div class="Main-content">
                <div class="left-panel">LEFT PANEL</div>
                <div class="center-context">MAIN CONTENT</div>
                <div class="right-panel">RIGHT PANEL</div>
            </div>
            <div id="footer">FOOTER</div>
        </div>

    </body>
</html>    