<script>
    function add(){
                
                window.location.href = '/databade/add';
            }
            function cancelAdd(){
            
            window.location.href = '/databade';
        }
    </script>
        </body>
    </html>