<html>
    <head>
        <style>
            *{
                margin: 0;
            }
            #main{
                width: 100%;
                height: 100%;
            }
            .one{
                width: 90%;
                height: 90%;
                padding: 100px;
            }
            .first
            {   width: 100%;
                height: 50px;
                float:left;
               color: blue;
            }
            .part{
                width: 100px;
                height:40px;
                border: 1px solid green;
                float: left;
                padding: 10px 20px 0px 47px;
                font-size: 18px;
            }
            .head{
                width: 76%;
                height: 50px;
                float: left;
                margin: 49px 0px 0px 100px;
                background-color: blueviolet
            }
            .first1{
                width: 84.5%;
                height: 20px;
            }
        </style>
    </head>
    <body class="main">
        <div class="head"><h1 style="text-align: center"><%=title%></h1></div>
