<!DOCTYPE html>
<html>
	<head>
		<title>First Layout</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
		<div id="main">
			<div class="first_section">
				<div class="logo">Logo/Img</div>
				<div class="login_section">Login Section</div>
			</div>
			<div class="second_section">
				<div class="navigation">Navigation Bars<p class="navi">Home<br>Service<br>AboutUs<br>Product<br>ContactUs.</p></div>
				<div class="scroll_img"><p>Scroll Bar Image Section</p></div>
			</div>
			<div class="footer">
				<div>footer section 1</div>
				<div>footer section 2</div>
				<div>footer section 3</div>
			</div>
			<div class="main_footer">copy right area</div>
		</div>
	</body>
</html>