*{
	margin:0px;
}
.header{
	background-color: grey;
	height: 100px;

}
.footer{
	background-color: grey;
	height: 100px;
}
.mainbody{
/*	background-color: grey;*/
	height: 1000px;
	width: 100%;
}
.main1{
	float: left;
	width: 15%;
/*	border: 2px solid white;*/
	margin-top: 1px;
	height: 99.7%;
	background-color: grey;

}
.main2{
	float :left;
	width: 70%;
	height: 100%;
}
.main3{
	float: right;
	width: 14.7%;
	height: 99.7%;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: grey;
	padding-right: 1px;
}
.container1{
	height: 24.9%;
	width: 99.99%;
		background-color: grey;
		margin: 1px;	

}
.container4{
	height: 24.5%;
	width: 99.99%;
		background-color: grey;
		margin: 1px;

}
.container3{
	height: 24.9%;
	width: 99.99%;
		
		margin: 1px;

}
.container2{
	height: 24.9%;
	width: 99.99%;
		background-color: grey;
		margin: 1px;
}

.box4{
	float: left;
	width: 24.91%;
	height: 100%;
	background-color: grey;
}
.box3{
	float: left;
	width: 24.97%;
	height: 100%;
	margin-right: 1px;
		background-color: grey;

}
.box2{
	float: left;
	width: 24.9%;
	height: 100%;
	margin-right: 1px;
		background-color: grey;

}
.box1{
	float: left;
	width: 24.9%;
	height: 100%;
	margin-right: 1px;
		background-color: grey;

}