

        <div class="page-data">
           <body>            <form action="/databade/add" method="POST" >
                <table cellpadding="11">
                <tr>
                    <td class="label">Name</td><td>: <input type="text" name="fname" required></td>
                 </tr>
                 <tr>
                        <td class="label">phone</td><td>: <input type="text" name="phone" required></td>
                     </tr>
                <tr>
                    <td class="label">address</td><td>: <input type="text" name="address" required></td>
                 </tr>
                  <tr>
                    <td class="label">password</td><td>: <input type="text" name="password" required></td>
                 </tr>
                 <tr>
                        <td class="label">userid</td><td>: <input type="text" name="userid" required></td>
                     </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            <script>
            function cancelAdd()
            {
                window.location.href = '/databade';
            }
            </script>
        </body> 

        </div>
        
