      </div>
            <div id="footer">
                Copyright © 2016 Your Company
                <a>Designed and developed by My Company</a>
            </div>
        </div>
    </body>
</html>
