<!DOCTYPE html>
<html>
	<head>
	<title>Layout 2</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
		<div id="main">
			<div class="first_section">
				<div class="first_one"><p>logo/Img</p></div>
				<div class="first_two"><p>Company Quoates</p></div>
				<div class="first_three">Search Box</div>
			</div>
			<div class="second_section">Navigation Bars</div>
			<div class="third_section">
				<div class="third_one"></div>
				<div class="third_two"></div>
			</div>
			<div class="fourth_section">
				<div class="fourth_one">
					<div class="one"></div>
					<div class="one"></div>
					<div class="one"></div>
					<div class="one"></div>

					<div class="two"></div>
					<div class="two"></div>

					<div class="three"></div>
					<div class="three"></div>
				</div>
				<div class="four"></div>
			</div>
		</div>
	</body>
</html>