<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href ="./style1.css">
    <title>Document</title>
</head>
<body>
    <div class ="header1">
        <p>this is header</p>
        </div> 
 </div>

 <div class="container">
    <div class="navbar1">
        <p> this is navbar</p>
    </div>
    <div class="article1">
        <p> this is article</p>
    </div>
    
    <div class="adstab">
        <p> this is ads</p>
    </div>
 </div>
  
    <div class="footer1">
        <p> this is footer</p>
    </div>


</body>
</html>