<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href ="./style1.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="one">
        <!--25%of page-->
        

        <div>

            <img src="avatar_hat.jpg" class="img1" title="image">
        </div>
        
        <div class="name">
                <h2>Jane Doe</h2>
              </div>
        <div class="details"> 
            <p><i class="fa fa-briefcase " ></i>Designer</p>
                <p>London, UK</p>
                <p>ex@mail.com</p>
                <p>1224435534</p>
      

        </div>




      
                
        </div>
    </div>
    <div class="two">
            <!--75%of page-->
            <p>75</p>
        </div>
    
        <div class="three">
                <!--footer-->
                <p>footer</p>
            </div>

</body>
</html>