<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="five.css">
</head>
<body>
<div class="totalsection">
	<div class="header">
		<div class="headerleft"><h1>Logo</h1></div>
		<div class="headerright"><h1>heder content</h1></div>
	</div>
	<div class="nav"><h1>navigation bar</h1></div>
	<div class="sec">
		<div class="secleft"><h1>About company</h1></div>
		<div class="secright"><h1>chairman</h1></div>
	</div>
	<div class="five"><h1>footer</h1></div>
	

	
</div>
</body>
</html>