<!DOCTYPE html>
<html>
<head>
	<title>html layout</title>
	<link rel="stylesheet" type="text/css" href="two.css">
</head>
<body>

<div class="header">
<div class="header-left"><p style="padding-top:20px;"><h2>Header section</h2> </p></div>
<div class=header-right><p style="padding-top:20px;"><h2>Searchbar<h></p></div>
<div class="sec">
   <h3>navigation bar</h3>
</div>
<div class="third">
<h3>details of company</h3>
</div>
<div class="five">
   <h3>company notifications</h3>
</div>
<div class="six">
 <p></p>
<div class="seven">
 <marquee><p style="padding-top:15px;">company website details</p></marquee>
</div>
<div class="eight">
        <p>company resources</p>
</div>

<div>
<p class="row" style="font-size: 20px;" >
      <marquee><pre>this is about when the company is founded   |    this is about company relations with other | it is about how it will treated </pre></marquee></p>
</div>
<div class="nine">
	<div class="ninone"style="width: 33.33%"><h3>company service</h3> </div>
	<div class="nintwo" "style="width: 33.33%"><h3>company news</h3></div>
	<div class="ninthree""style="width: 33.33%"><h3>about people</h3></div>
</div>

<div class="hello">
<div class="footersec"><b>footer section</b></div>
</div>

</body>
</html>