<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href ="./style2.css">
    <title>Document</title>
</head>
<body>
    <div class ="mainheader">
        <p>this is main header</p>
        </div> 

        <div class ="subheader">
            <p>this is sub header</p>
            </div> 

 <div class="container">
    <div class="leftbartop">     
        <p> this is left bar top</p>
        <img src="avatar_hat.jpg" title="image">
        <a>credits:ssk</a>
    </div>
    <div class="leftbarbottom">
        <p> this is left bar bottom</p>
    </div>

    <div class="pagecontent">
        <p> this is page content</p>
    </div>


    <div class="rightbartop">
        <p> this is right bar top</p>
    </div>
    <div class="rightbarbottom">
        <p> this is right bar bottom</p>
    </div>
  
 </div>
  
   
 <div class="subfooter">
    <p> this is sub footer</p>
</div>
    <div class="mainfooter">
        <p> this is main footer</p>
    </div>
</body>
</html>